.button{ /*임시 버튼*/
    border-radius: 5px;
    width: 10vw;
    height: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inside{
    min-width: 100%;
    min-height: 100%; 
    scroll-snap-align: start;
    text-align: center;
    font-size: 50pt;
    object-fit: contain;
}
