.peopleContainer{
    position: relative;
    float: left;
    width: 50vw;
    height: 100vh;
}

@keyframes zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}