
.mainpage{
    width: 100vw;
    height: 134vw;
    background-color:#94E8EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgcontainer_mainTitle{
    width: 15rem;
    /* height: 11vw; */
    margin-top: 10vw;
}
.img_mainTitle{
    width: inherit;
    height: inherit;
    object-fit: fill;
}
.credits{
    width: 15vw;
    font-size: 0.8rem;
    margin-top: 1.2rem;
    text-align: center;
    line-height: 140%;
}
.discription{
    text-align: center;
}
.discription.kor{
    font-size: 1.2rem;
    margin-top: 10rem;
    line-height: 150%;
}
.discription.eng{
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 170%;
}

.textbox-container{
    margin-top: 6.5rem;
    width: 40vw;
    height: 25vw;
    text-align: center;
}
.textbox.name{
    font-size: 3rem;
    width: inherit;
    font-weight: 700;
}
.textbox.job{
    font-size: 1.5rem;
    width: inherit;
    font-weight: 700;
    margin-top: 0.3rem;
}
.textbox.content{
    margin-top: 2rem;
    font-size: 1.5rem;
    width: inherit;
    height: 15vw;
    z-index: 1;
    white-space: pre-wrap;
    line-height: 2.4rem;
}

.textbox.content::after{
    content: "";
    margin-left: .4rem;
    border: 1px solid black;
    animation: cursor 0.9s infinite;
}

.hovered{
    animation: appear 0.4s linear;
}

@keyframes cursor {
0%,
49.99%{
    opacity: 0;
}
50%,
100%{
    opacity: 1;
}

}

@keyframes appear {
    0%{
        opacity: 0;
        margin-top:8px;
    }
    100%{
        opacity: 1;
        margin-top:0px;

    }
}