/* @media max-width{

} */
.mainpage{
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;;
}
.page{
    min-width: 100%;
    min-height: 100%;
    scroll-snap-align: start;
}

.p2{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.block{
    float: left;
    width: 40vw;
    height: 30vh;
    margin-top: 5vw;
    margin-left: 10vh;
}